@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
.btn {
  @apply capitalize;
}

.dialog {
  @apply fixed inset-0 z-20 flex items-center justify-center min-h-full overflow-y-scroll;
}

.dialog-overlay {
  @apply fixed inset-0 opacity-90 bg-base-100;
}

.dialog-wraper {
  @apply z-10 w-11/12 rounded shadow-lg md:w-10/12 bg-base-300;
}

.label-text {
  @apply text-agatha-400 text-sm;
}

@tailwind utilities;

.navbar {
  box-shadow: 0px 1px #292932;
}

.nav-search {
  width: 300px;
}

/* CUSTOM COLORS */
.softgrey-text {
  color: #d5d5dc;
}

.grey-text {
  color: #b5b5be;
}

/* DIALOGS */
.rounded-dialog {
  border-radius: 16px !important;
}

.dialog-infiltrating {
  position: absolute !important;
  width: 1064px !important;
  top: 124px !important;
  height: 780px !important;
}

.dialog-wraper {
  position: absolute !important;
  width: 1060px !important;
  top: 124px !important;
  height: 780px !important;
}

.dialog-wraper-group {
  position: absolute !important;
  width: 660px !important;
  top: 124px !important;
  /* height: 780px !important; */
}

.dialog-wraper-filter {
  position: absolute !important;
  width: 662px !important;
  top: 110px !important;
  padding: 50px;
  height: 447px !important;
}

.dialog-wraper-saveentity {
  position: absolute !important;
  width: 621px !important;
  top: 110px !important;
  height: 354px !important;
}

.saveentity-dialog--card {
  width: 168px;
  height: 60px;
  border-radius: 16px;
}

.saveentity-dialog--card-img {
  width: 40px !important;
  height: 40px !important;
}

.saveentity-dialog--footer {
  border-radius: 0 0 16px 16px;
  background: #292932 0% 0% no-repeat padding-box;
  position: absolute;
  bottom: 0;
  width: 621px;
  height: 72px;
}

.saveentity-dialog--btn {
  width: 126px;
  height: 40px;
  font: normal normal bold 12px/16px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.saveentity-dialog--card-title {
  text-align: left;
  font: normal normal 600 13px/16px Mulish;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.saveentity-dialog--card-subtitle {
  text-align: left;
  font: normal normal normal 12px/15px Mulish;
  letter-spacing: 0px;
  color: #B5B5BE;
}

.saveentity-dialog--title {
  text-align: left;
  font: normal normal bold 18px/23px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.font-filter {
  font-size: 11px;
}

.saveentity-dialog--exit-btn {
  position: absolute;
  top: 80px;
  margin-left: 145px;
}

.upload-filter {
  right: 60px;
  top: 258px;
  position: absolute;
  padding: 7px;
  border-radius: 4px;
  width: 57px;
  height: 31px;
  text-align: center;
  background: #44444F 0% 0% no-repeat padding-box;
  color: #FAFAFB;
  font-size: 12px;
}

.profiler-profile--text-description-title {
  text-align: left;
  font: normal normal normal 12px/16px Mulish;
  letter-spacing: 0px;
  color: #92929D;
}

.profiler-profile--text-description {
  text-align: left;
  font: normal normal normal 13px/19px Mulish;
  letter-spacing: 0px;
  color: #D5D5DC;
}

.profiler-profile--container {
  width: 972px;
  height: 888px;
}

.profiler-profile--img {
  width: 88px;
  height: 88px;
  border-radius: 4px;
}

.profiler-profile--table-title {
  font: normal normal normal 14px/18px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.profiler-profile--table-subtitle {
  font: normal normal normal 13px/16px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.profiler-profile--table-left {
  color: #92929D;
  font: normal normal normal 13px/16px Mulish;
  letter-spacing: 0px;
}

.profiler-profile--table-right {
  color: #fafafb;
  font: normal normal normal 13px/16px Mulish;
  letter-spacing: 0px;
}

.profiler-filter-content {
  margin-top: 50px !important;
}

.vindb-left--category-title {
  font: normal normal normal 14px/16px Mulish;
  letter-spacing: 0px;
  color: #D5D5DC;
}

.vindb-left--categories {
  font: normal normal normal 14px/19px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.vindb-table--title {
  font: normal normal normal 14px/18px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
  background: #292932;
  border-radius: 16px;
}

.vindb-table--left {
  font: normal normal normal 13px/16px Mulish;
  letter-spacing: 0px;
  color: #92929D;
}

.vin-db--table tr, td {
  padding: 10px;
}

.vindb-table--right {
  font: normal normal normal 14px/18px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.vibdb-table--even {
  background: #202028;
}

.btn-action-filter {
  margin-top: 70px !important;
}

.button-actions-filter {
  font-size: 13px;
}

.dialog-wraper-rl {
  position: absolute !important;
  width: 700px !important;
  top: 80px !important;
  min-height: 585px !important;
}

.dialog-wraper-alert {
  position: absolute !important;
  height: 674px !important;
  width: 580px !important;
  top: 80px !important;
}

.alert-dialog--text {
  text-align: center;
  font: normal normal bold 18px/23px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.dialog-cyber-mission {
  height: 780px !important;
  width: 1064px !important;
  position: absolute !important;
  top: 126px !important;
}

.cyber-text {
  text-align: center;
  font: normal normal bold 24px/36px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.cyber-subtext {
  text-align: center;
  font: normal normal normal 16px/24px Mulish;
  letter-spacing: 0px;
  color: #D5D5DC;
}

.alert-dialog--subtext {
  font: normal normal normal 13px/16px Mulish;
  letter-spacing: 0px;
  color: #92929D;
  text-align: center;
}

.sidebar--font {
  font: normal normal normal 14px/16px Mulish;
  color: #FAFAFB;
}

.sidebar-collapse--font {
  font: normal normal normal 14px/13px Mulish;
  color: #D5D5DC;
}

.media-facepicture--label-font {
  font: normal normal 600 13px/16px Mulish;
  color: #92929D;
}

.fixed-dialog-h {
  height: 780px !important;
}

.dialog-header {
  position: absolute;
  right: -34px;
  top: -34px;
  z-index: 15;
}

.dialog-header-filter {
  position: absolute;
  right: -36px;
  top: -36px;
  z-index: 15;
}

.dialog-title {
  font: normal normal bold 30px/36px Mulish;
  letter-spacing: 0px;
}

.dialog-description {
  font: normal normal normal 14px/22px Mulish;
  color: #d5d5dc;
  letter-spacing: 0;
  line-height: 24px;
}

.topic-overview--card-title {
  font: normal normal normal 14px/18px Mulish;
  opacity: .5;
  color: #FFFFFF;
}

.topic-overview--card-description {
  font: normal normal 900 24px/30px Mulish;
  color: #FFFFFF;
}

.topic-overview--bottom-card-title {
  font: normal normal 800 14px/18px Mulish;
  color: #FAFAFB;
}

.topic-overview--bottom-card-content {
  font: normal normal normal 13px/15px Mulish;
  color: #D5D5DC;
}

.report-download--content-name {
  font: normal normal 600 16px/16px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.report-download--content-date {
  font: normal normal normal 12px/15px Mulish;
  letter-spacing: 0px;
  color: #696974;
}

.report-download--content-description {
  text-align: left;
  font: normal normal normal 13px/16px Mulish;
  letter-spacing: 0px;
  opacity: 1;
  color: #B5B5BE;
}

.cyber-mission--title {
  font: normal normal bold 14px/18px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.cyber-mission--description {
  font: normal normal normal 13px/16px Mulish;
  letter-spacing: 0px;
  color: #B5B5BE;
}

.cyber-mission--status {
  font: normal normal 600 10px/15px Mulish;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.infiltration-card--container {
  border: 1px solid #32224E;
  border-radius: 4px;
  background: #32224E 0% 0% no-repeat padding-box;
}

.infiltration-card--text {
  font: normal normal 900 19px/24px Mulish;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.infiltration-card--title {
  font: normal normal normal 10px/13px Mulish;
  letter-spacing: 0px;
  color: #E2CEFF;
}

.mission-left--description {
  font: normal normal normal 13px/19px Mulish;
  letter-spacing: 0px;
  color: #D5D5DC;
}

.mission-post--container {
  background: #242526;
}

.mission-post--poster {
  font: normal normal medium 14px/38px Helvetica Neue;
  letter-spacing: 0.28px;
  color: #E4E6EB;
}

.mission-post--date {
  font: normal normal normal 12px/38px Helvetica Neue;
  letter-spacing: 0.24px;
  color: #606770;
}

.mission-post--description {
  font: normal normal normal 14px/20px Helvetica Neue;
  letter-spacing: 0.28px;
  color: #E4E6EB;
}

* {
  /* border: 1px solid red; */
}

.mission-view--left-title {
  font: normal normal bold 14px/18px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.mission-view--left-subtitle {
  font: normal normal normal 13px/16px Mulish;
  letter-spacing: 0px;
  color: #FFFFFF;
}

/* CASE & ENTITY */
.case-img, .entity-img {
  width: 56px;
  height: 56px;
}
.case-title, .entity-title {
  font-size: 14px;
}

.tab-title {
  font: normal normal 600 14px/24px Mulish;
  letter-spacing: 0px;
}

.profiler-history--image {
  color: #92929D 0% 0% no-repeat padding-box;
}

.profiler-history--email {
  font: normal normal 600 14px/18px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.profiler-history--content-found {
  font: normal normal normal 14px/18px Mulish;
  letter-spacing: 0px;
  color: #B5B5BE;
}

.profiler-history--content-date {
  font: normal normal normal 13px/16px Mulish;
  letter-spacing: 0px;
  color: #B5B5BE;
}

.user-dashboard--popular-fake-news-title {
  font: normal normal bold 16px/15px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.user-dashboard-summary--amount {
  font: normal normal normal 12px/19px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.user-dashboard-summary--amount {
  font: normal normal 900 17px/19px Mulish;
  letter-spacing: 0.68px;
  color: #FAFAFB;
}

.user-dashboard--popular-fake-news-number, .user-dashboard--popular-fake-news-description {
  font: normal normal normal 14px/19px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.drag-and-drop--font {
  font: normal normal normal 18px/23px Mulish;
  color: #FDFEFF;
}

.drag-and-drop--subfont {
  margin-top: 10px;
  font: normal normal normal 14px/18px Mulish;
  color: #989898;
}

.uploaded-media {
  background: #18181F 0% 0% no-repeat padding-box;
  /* opacity: 0.5; */
}

.avatar-dialog--title {
  text-align: center;
  font: normal normal bold 24px/36px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.avatar-dialog--subtitle {
  text-align: center;
  font: normal normal normal 16px/24px Mulish;
  letter-spacing: 0px;
  color: #D5D5DC;
}

.avatar-card--title {
  font: normal normal bold 15px/16px Mulish;
  text-align: center;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.avatar-card--subtitle {
  text-align: center;
  font: normal normal normal 14px/22px Mulish;
  letter-spacing: 0px;
  color: #D5D5DC;
}

.avatar-dialog--photo {
  width: 112px;
  height: 112px;
}

.avatar-dialog--photo-text {
  font: normal normal 600 14px/24px Mulish;
  letter-spacing: 0px;
  color: #D5D5DC;
  text-align: center;
}

.primary--label {
  position: absolute;
  background: #7735D5;
  padding: 8px 8px 24px 8px;
  font: normal normal 600 11px/14px Mulish;
  letter-spacing: 0.44px;
  color: #FAFAFB;
  border-radius: 16px 16px 0 0;
  margin-top: -10px;
  z-index: 1 !important;
}

.primary--secondary-label {
  position: absolute;
  background: #44444F;
  padding: 8px 8px 24px 8px;
  font: normal normal 600 11px/14px Mulish;
  letter-spacing: 0.44px;
  color: #FAFAFB;
  border-radius: 16px 16px 0 0;
  margin-top: -10px;
  z-index: 1 !important;
}

.confirmed-card--container {
  margin-top: 20px;
  z-index: 2 !important;
  width: 364px;
  height: 155px;
  border-radius: 16px;
}

.possible-card--container {
  width: 364px;
  height: 155px;
  border-radius: 16px;
}

.confirmed-card--bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #44444F;
  padding-top: 10px;
}

.confirmed-card--bottom-number {
  margin-right: 4px;
  text-align: center;
  border: 1px solid #44444F;
  border-radius: 50%;
  padding: 5px 9px;
  font: normal normal bold 12px/16px Mulish;
  letter-spacing: -0.24px;
  color: #FFFFFF;
}

.confirmed-card--bottom-text {
  text-align: left;
  font: normal normal 600 12px/15px Mulish;
  letter-spacing: 0px;
  color: #E2E2EA;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5d5d64; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #212124; 
}

::-webkit-scrollbar-thumb:vertical {
  background: #5d5d64; 
  border-radius: 10px;
}

/* ::-webkit-scrollbar-track-piece {} */