@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
.btn {
  @apply capitalize;
}

.dialog {
  @apply fixed inset-0 z-20 flex items-center justify-center min-h-full overflow-y-scroll;
}

.dialog-overlay {
  @apply fixed inset-0 opacity-90 bg-base-100;
}

.dialog-wraper {
  @apply z-10 w-11/12 rounded shadow-lg md:w-10/12 bg-base-300;
}

.label-text {
  @apply text-agatha-400 text-sm;
}

@tailwind utilities;

.navbar {
  box-shadow: 0px 1px #292932;
}

.nav-search {
  width: 300px;
}

/* CUSTOM COLORS */
.softgrey-text {
  color: #d5d5dc;
}

.grey-text {
  color: #b5b5be;
}

/* DIALOGS */
.rounded-dialog {
  border-radius: 16px !important;
}

.dialog-infiltrating {
  position: absolute !important;
  width: 1064px !important;
  top: 124px !important;
  height: 780px !important;
}

.dialog-wraper {
  position: absolute !important;
  width: 1060px !important;
  top: 124px !important;
  height: 780px !important;
}

.dialog-wraper-group {
  position: absolute !important;
  width: 660px !important;
  top: 124px !important;
  /* height: 780px !important; */
}

.dialog-wraper-filter {
  position: absolute !important;
  width: 662px !important;
  top: 110px !important;
  padding: 50px;
  height: 447px !important;
}

.font-filter {
  font-size: 11px;
}

.upload-filter {
  right: 60px;
  top: 258px;
  position: absolute;
  padding: 7px;
  border-radius: 4px;
  width: 57px;
  height: 31px;
  text-align: center;
  background: #44444F 0% 0% no-repeat padding-box;
  color: #FAFAFB;
  font-size: 12px;
}

.profiler-filter-content {
  margin-top: 50px !important;
}

.btn-action-filter {
  margin-top: 70px !important;
}

.button-actions-filter {
  font-size: 13px;
}

.dialog-wraper-rl {
  position: absolute !important;
  width: 700px !important;
  top: 80px !important;
  min-height: 585px !important;
}

.dialog-wraper-alert {
  position: absolute !important;
  height: 674px !important;
  width: 580px !important;
  top: 80px !important;
}

.alert-dialog--text {
  text-align: center;
  font: normal normal bold 18px/23px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.dialog-cyber-mission {
  height: 780px !important;
  width: 1064px !important;
  position: absolute !important;
  top: 126px !important;
}

.cyber-text {
  text-align: center;
  font: normal normal bold 24px/36px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.cyber-subtext {
  text-align: center;
  font: normal normal normal 16px/24px Mulish;
  letter-spacing: 0px;
  color: #D5D5DC;
}

.alert-dialog--subtext {
  font: normal normal normal 13px/16px Mulish;
  letter-spacing: 0px;
  color: #92929D;
  text-align: center;
}

.sidebar--font {
  font: normal normal normal 14px/16px Mulish;
  color: #FAFAFB;
}

.media-facepicture--label-font {
  font: normal normal 600 13px/16px Mulish;
  color: #92929D;
}

.fixed-dialog-h {
  height: 780px !important;
}

.dialog-header {
  position: absolute;
  right: -34px;
  top: -34px;
  z-index: 15;
}

.dialog-header-filter {
  position: absolute;
  right: -36px;
  top: -36px;
  z-index: 15;
}

.dialog-title {
  font: normal normal bold 30px/36px Mulish;
  letter-spacing: 0px;
}

.dialog-description {
  font: normal normal normal 14px/22px Mulish;
  color: #d5d5dc;
  letter-spacing: 0;
  line-height: 24px;
}

/* CASE & ENTITY */
.case-img, .entity-img {
  width: 56px;
  height: 56px;
}
.case-title, .entity-title {
  font-size: 14px;
}

.tab-title {
  font: normal normal 600 14px/24px Mulish;
  letter-spacing: 0px;
}

.drag-and-drop--font {
  font: normal normal normal 18px/23px Mulish;
  color: #FDFEFF;
}

.drag-and-drop--subfont {
  margin-top: 10px;
  font: normal normal normal 14px/18px Mulish;
  color: #989898;
}

.uploaded-media {
  background: #18181F 0% 0% no-repeat padding-box;
  /* opacity: 0.5; */
}

.avatar-dialog--title {
  text-align: center;
  font: normal normal bold 24px/36px Mulish;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.avatar-dialog--subtitle {
  text-align: center;
  font: normal normal normal 16px/24px Mulish;
  letter-spacing: 0px;
  color: #D5D5DC;
}

.avatar-card--title {
  font: normal normal bold 15px/16px Mulish;
  text-align: center;
  letter-spacing: 0px;
  color: #FAFAFB;
}

.avatar-card--subtitle {
  text-align: center;
  font: normal normal normal 14px/22px Mulish;
  letter-spacing: 0px;
  color: #D5D5DC;
}

.avatar-dialog--photo {
  width: 112px;
  height: 112px;
}

.avatar-dialog--photo-text {
  font: normal normal 600 14px/24px Mulish;
  letter-spacing: 0px;
  color: #D5D5DC;
  text-align: center;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5d5d64; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #212124; 
}

::-webkit-scrollbar-thumb:vertical {
  background: #5d5d64; 
  border-radius: 10px;
}

/* ::-webkit-scrollbar-track-piece {} */